<a href="https://colab.research.google.com/github/Charanvitha/AIML-2025/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-01:Introduction to Python,matplotlib,Numpy

## Part 1:Implement basic data structure using Numpy,Pandas##

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
list1=[1,2,3,4]
array1=np.array(list1)
array1
array2=np.array([1,2,3,4])
list1,array1,array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [3]:
##Identify the type of Data Structure
type(list1),type(array1),type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [4]:
##Perform mathematical operations on arrays,lists
print("Adding two arrays:array1+array2")
print("Multiplying two arrays:array1*array2")
print("Subtracting two arrays:array1-array2")
print("Dividing two arrays:array1/array2")
print("Exponentiating two arrays:array1**array2")
print("Multiply array to list:array2*list1")

Adding two arrays:array1+array2
Multiplying two arrays:array1*array2
Subtracting two arrays:array1-array2
Dividing two arrays:array1/array2
Exponentiating two arrays:array1**array2
Multiply array to list:array2*list1

In [5]:
#combine text wit nummpy function
print("Sine value of array1:{np.sin(array1)}")
print("Log value of array1:{np.log(array1)}")
print("Log base 2 value of array1:{np.log2(array1)}")
print("Log base 10 value of array1:{np.log10(array1)}")
print("Exponential value of array1:{np.exp(array1)}")

Sine value of array1:{np.sin(array1)}
Log value of array1:{np.log(array1)}
Log base 2 value of array1:{np.log2(array1)}
Log base 10 value of array1:{np.log10(array1)}
Exponential value of array1:{np.exp(array1)}